body {
    font-family: 'Geneva', sans-serif; /* Closer to Mac OS fonts */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #b8b8b8; /* Classic Mac OS 9 background */
    color: #000; /* Standard text color */
}

#passwordForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d0d0d0; /* Slightly lighter grey for forms */
    padding: 40px;
    border-radius: 0; /* Keeping the classic sharp corner look */
    border: 2px solid #000; /* Defined border for depth */
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow for 3D effect */
}

.form-title {
    font-size: 24px;
    color: #000;
    margin-bottom: 20px;
}

input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #000; /* More defined input borders */
    border-radius: 0; /* Mac OS 9 did not use rounded corners */
    font-size: 16px;
    background-color: #fff;
    width: 250px;
}

#renewButton {
    padding: 10px 20px;
    background-color: #007ace; /* A brighter, more engaging blue */
    color: #fff;
    border: none;
    border-radius: 0;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    width: 260px;
}

#renewButton:hover {
    background-color: #005ba1;
}

#renewButton:active {
    transform: translateY(2px);
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#commandOutput {
    background-color: #f0f0f0;
    color: #000;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid #000;
    border-radius: 0; /* Sharp edges for authentic feel */
    width: 320px;
    height: 170px;
    overflow-y: auto;
    word-wrap: break-word;
}
